<!doctype html>
<!--[if lt IE 7]> <html lang="en" class="no-js ie6 lteie9 oldie" xmlns:fb="http://www.facebook.com/2008/fbml"> <![endif]-->
<!--[if IE 7]> <html lang="en" class="no-js ie7 lteie9 oldie" xmlns:fb="http://www.facebook.com/2008/fbml"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="no-js ie8 lteie9 oldie" xmlns:fb="http://www.facebook.com/2008/fbml"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="no-js ie9 lteie9" xmlns:fb="http://www.facebook.com/2008/fbml"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js" xmlns:fb="http://www.facebook.com/2008/fbml"> <!--<![endif]-->
<head>
	<meta charset="utf-8"/>

	<title>{PUB:SEO_TITLE}</title>
	<meta name="Description" content="{PUB:SEO_DESC}" />
	<meta name="Keywords" content="{PUB:SEO_KEYS}" />
	<base href="{PRIV.BASE.HREF}" />

	{PUB:OWNERSHIP-GOOGLE}{PUB:OWNERSHIP-YAHOO}{PUB:OWNERSHIP-MS}

	<meta property="fb:admins" content="{PUB:FB_ADMINS}"/>
	<meta property="fb:app_id" content="{PUB:FB_APP}"/>	


	<link type="text/css" rel="stylesheet" href="css/fonts.css"/>
	<link type="text/css" rel="stylesheet" href="css/normalize.css"/>
	<link type="text/css" rel="stylesheet" href="css/jqtransform.css"/>
	<link type="text/css" rel="stylesheet" href="css/slidesjs.css"/>
	<link type="text/css" rel="stylesheet" href="css/fluxglide.css"/>
	<link type="text/css" rel="stylesheet" href="css/prettyPhoto.css"/>
	

	<script type="text/javascript" src="js/1.js"></script>

</head>
<body>	
	{PUB:USER_SUMMARY}

	<nav class="see-through-bg" id="main-nav">
		
		<div id="logo">
			<a href=""><img alt="#" src="upload/logo.png"/></a>
		</div>
		
		{PUB:TOP_MENU}

		<div id="nav-extra">
			
			<ul id="nav-extra-list">
				{PUB:MODULE_SHARING_BUTTON}
				{PUB:MODULE_NEWSLETTERS_BUTTON}
				{PUB:MODULE_SHOPPINGCART_BUTTON}
			</ul>
			
		</div>
	
	</nav>

	<div id="content-wrapper">		
		{PB_EVENTS}		
	</div>
	
	{PUB:MODULE_SHARING}
	{PUB:MODULE_NEWSLETTERS}
	{PUB:MODULE_SHOPPINGCART}	
	{PUB:MODULE_BACKGROUND}

	{PUB:FB_SCRIPT}

	{PUB:GOOGLE_ANALYTICS}

<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fa348d2aaf3f1fccc7f3832e776f90446' type='text/javascript'%3E%3C/script%3E"));
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?a348d2aaf3f1fccc7f3832e776f90446";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>


	
</body>
</html>